  @import url(./Root.css);

  *,
  *::after,
  *::before {
      padding: 0;
      margin: 0;
      list-style-type: none !important;
      text-decoration: none !important;
      box-sizing: border-box;
  }

  /* .nav_3_line {
      background-color: red;
      padding: 3px 18px;
      margin-top: 3px;
      border-radius: 10px;
      z-index: 3;

  }

  .container_my {
      max-width: 1720px;
      margin-left: auto !important;
      margin-right: auto !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
  }

  .bg_green {
      background: #E2F5EF;
      border-radius: 10px;
  }

  .placeholder {
      background: #E2F5EF !important;
      border-radius: 10px;
      height: 82px;
      border: none;
      outline: none;


  }

  #placholder_btn {
      padding: 31px 65px !important;
  }

  #register {
      margin-bottom: 0 !important;

  }



  .bg_green_1 {
      background: #E3F9E7 !important;
  }

  .border_right {
      border-right: 2px dashed rgba(151, 87, 215, 0.4);
      height: 320px;
  }

  .z_index_1 {
      z-index: -1;
  }

  .bg_white {
      max-width: 515px;
      height: 281px;
      background: #FFFFFF;
      box-shadow: 0px -1px 15px rgba(60, 189, 150, 0.15);
      border-radius: 20px;
  }

  .shadow_ {
      left: 89%;
      bottom: -11%;
  }

  .green_star {
      right: 6%;
      top: -14%;
  }

  .yellow_star {
      top: -12%;
      left: 66px;
  }










































  @media (min-width:1200px) {
      .max_width_700 {
          max-width: 700px;
      }

      .max_width_1000 {
          max-width: 1000px;
      }

      .max_width_492 {
          max-width: 492px;
      }

      .max_width_314 {
          max-width: 314px;
      }

      .max_width_302 {
          max-width: 302px;
      }

      .line_height_110 {
          line-height: 100px;
      }
  }

  @media (max-width:1200px) {
      nav ul {
          position: fixed;
          top: 0;
          left: -100%;
          background-color: khaki;
          width: 100%;
          height: 100vh;
          justify-content: center;
          transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          align-items: center;
          flex-direction: column;
          text-align: center;
          z-index: 1;
          line-height: 2;



      }

      #check:checked~.nav_left {
          left: 0;
      }



  }
 */











  .know_more_btn {
      background: #00FFCC;
      padding: 18px 32px;
      display: inline-block;
  }
  .bg_tortor{
    background-image: url(./assets/image/png/bg_tortor.png);
    background-size: cover;
    background-repeat: no-repeat;
    
  }

@media (min-width:1200px) {
    .max_width_876{
        max-width: 876px;
    }
}